<% provide :title, t(".contact") %>

<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-between">
      <div class="col-md-12 banner-right" style="padding-top: 120px">
        <h1 style="color:white"><%= t(".contact") %></h1>
        <p style="color:white"><%= t(".text1") %></p>
      </div>
    </div>
  </div>
</section>
