<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-between">
      <div class="col-md-12 banner-right" id="about_blog_contact">
        <h1><%= t ".contact" %></h1>
        <p><%= t ".text1" %></p>
      </div>
    </div>
  </div>
</section>
