<div class="col-lg-3 col-md-6">
  <div class="single-other-issue">
    <div class="thumb img-default">
      <%= link_to image_tag("1.png") %>
    </div>
    <%= link_to pitch.name %>
    <p><%= t(".address") %><%= pitch.address %></p>
  </div>
</div>
