<footer class="c-footer">
  <div>
    <%= link_to t(".link"), Settings.link_footer_admin %>
    <%= t ".content1_html" %>
  </div>
  <div class="ml-auto">
    <%= t ".content2_html" %><%= link_to t(".link"), Settings.link_footer_admin %>
  </div>
</footer>
