<% provide :title, full_title(t ".sign_up") %>
<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container user">
    <div class="row fullscreen align-items-center justify-content-between">
      <div calss="col-md-3"></div>
      <div class="col-md-6 p-top-150px">
        <h1 style="color:white"><%= t ".sign_up" %></h1>
        <%= render "form" %>
      </div>
      <div calss="col-md-3"></div>
    </div>
  </div>
</section>
