$gray-medium-light: #eaeaea;
$white: white;
$gray: gray;
$green-bg: #75c5b3;
$bark_cloud: #bbb;
$red: red;
$e8: #e8e8e8;
$gray: gray;
$blue: blue;
$gray-light: #D3D3D3;
$gray-darker: #a9a9a9;
$gray-lighter: #d3d3d3;
$state-danger-text: rgb(150, 0, 0);
$bg-error: #ffffffab;
$black: #212529;
