$gray-medium-light: #eaeaea;
$white: white;
$red: red;
$e8: #e8e8e8;
$gray: gray;
$gray-light: #D3D3D3;
$gray-darker: #a9a9a9;
$gray-lighter: #d3d3d3;
$state-danger-text: rgb(150, 0, 0);
$bg-error: #ffffffab;
$black: #212529;
$bg-error: #ffffffab;
$navbar-bg: rgb(201, 201, 201);
$navbar-brand-bg: transparent;
$navbar-brand-logo: url(asset-path("my_logo.png"));
$green-bg: #75c5b3;
$bark_cloud: #bbb;
$red: red;
$e8: #e8e8e8;
$blue: blue;
$green-checked: #224e08;
$dark-red: #c82333;
$green: #60ca23;
$green-hover: #469717;
$dadada: #dadada;
$grey: grey;
$bbecd5: #bbecd5;
