<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6><%= t ".about" %></h6>
          <p>
            <%= t ".content1" %>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6><%= t ".news" %></h6>
          <p><%= t ".content2" %></p>
          <div id="mc_embed_signup">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</footer>
