<div class="tab-pane fade show active" id="4a">
    <div class="tm-recommended-place-wrap">
        <div class="tm-recommended-place">
            <img src="img/tm-img-06.jpg" alt="Image" class="img-fluid tm-recommended-img">
            <div class="tm-recommended-description-box">
                <h3 class="tm-recommended-title">Asia Resort Hotel</h3>
                <p class="tm-text-highlight">Singapore</p>
                <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
            </div>
            <a href="#" class="tm-recommended-price-box">
                <p class="tm-recommended-price">$440</p>
                <p class="tm-recommended-price-link">Continue Reading</p>
            </a>
        </div>

        <div class="tm-recommended-place">
            <img src="img/tm-img-07.jpg" alt="Image" class="img-fluid tm-recommended-img">
            <div class="tm-recommended-description-box">
                <h3 class="tm-recommended-title">Nullam eget est a nisl</h3>
                <p class="tm-text-highlight">Yangon, Myanmar</p>
                <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
            </div>
            <div id="preload-hover-img"></div>
            <a href="#" class="tm-recommended-price-box">
                <p class="tm-recommended-price">$450</p>
                <p class="tm-recommended-price-link">Continue Reading</p>
            </a>
        </div>

        <div class="tm-recommended-place">
            <img src="img/tm-img-05.jpg" alt="Image" class="img-fluid tm-recommended-img">
            <div class="tm-recommended-description-box">
                <h3 class="tm-recommended-title">Proin interdum ullamcorper</h3>
                <p class="tm-text-highlight">Bangkok, Thailand</p>
                <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
            </div>
            <a href="#" class="tm-recommended-price-box">
                <p class="tm-recommended-price">$460</p>
                <p class="tm-recommended-price-link">Continue Reading</p>
            </a>
        </div>

        <div class="tm-recommended-place">
            <img src="img/tm-img-04.jpg" alt="Image" class="img-fluid tm-recommended-img">
            <div class="tm-recommended-description-box">
                <h3 class="tm-recommended-title">Lorem ipsum dolor sit</h3>
                <p class="tm-text-highlight">Vientiane, Laos</p>
                <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
            </div>
            <a href="#" class="tm-recommended-price-box">
                <p class="tm-recommended-price">$470</p>
                <p class="tm-recommended-price-link">Continue Reading</p>
            </a>
        </div>
    </div>

    <a href="#" class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show More Places</a>
    </div>
